
.ItemCardMain {
  height: 220px;
  width: 156px;
}

.GroupCard:hover {
  color: white;
  background: gray;
  cursor:pointer;
}
.ItemTitle {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.ItemThumbnail {
  height: 64px;
  width: 64px;
}

.ItemCardCol {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ItemCardContent {
  width: 100%;
  padding: 0;
}
.itemRowTitle {
  padding-top: 16px;
}

.PriceCol {
  color: red;
  font-weight: bold;
  text-align: center;
}
.PriceCol-Free {
  text-align: center;
  color: green;
  font-weight: bold;
}
.UserThumbnail {
  height: 32px;
  width: 32px;
}

.UserCard:hover {
  cursor: pointer;
  color: white;
  background: gray;
}
.UsernameRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.UserThumbnailContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
