.NameCol {
  height: 100%;
}

.BigThumbnail {
  max-width: 100%;
}

.NoDescription {
  font-style: italic;
}

.SubpageContainer {
  padding: 16px;
}
.HomeItemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 16px;
  margin-left: 4px;
}

/* put elements to the middle when the screen is too small*/
@media(max-width: 720px) {
  .ThumbnailCol {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .NameCol > .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
