.ItemContainer {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: flex-start;
  overflow-x: scroll;
  /* overflow-y: hidden; */
}

.HomeItem {
  padding: 16px;
}

.SearchBarCol {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SearchForm {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
